@media (max-width: 768px) {
    .container, .nav-bar-container {
        padding: 0 20px;
    }
}

@media (max-width: 425px) {
    header {
        flex-direction: column;

        img {
            margin-bottom: 20px;
        }

        .blurb {
            text-align: center;
        }
    }
}