$light-background-color: rgba(#000000, 0.025);
$light-primary-color: rgba(#000000, 0.9);
$light-accent-color: rgba(#000000, 0.6);
$light-light-color: rgba(#000000, 0.1);
$light-verylight-color: rgba(#000000, 0.05);

$dark-background-color: #242729;
$dark-primary-color: rgba(232, 230, 227, 1);
$dark-accent-color: rgba(232, 230, 227, 0.7);
// $dark-light-color: rgba(0, 0, 0, 0.1);
$dark-verylight-color: rgba(0, 0, 0, 0.025);
$dark-light-color: rgba(232, 230, 227, 0.2);