@import 'reset';

html, body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
}

nav#nav-bar {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 60px;

    img {
        max-width: 50px;
    }

    .logo {
        flex-grow: 2;
    }

    a.menu {
        margin-left: 30px;
        color: rgba(#000000, 0.9);
        text-decoration: none;
    }
}

#search-bar {
    display: flex;
    border-radius: 5px;

    input {
        border: 1px solid rgba(#000000, 0.35);
        border-radius: 5px;
        font-size: 16px;
        padding: 5px;
    }
}

main {
    padding-bottom: 100px;
    header {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid rgba(#000000, 0.1);
        h1 {
            font-weight: bold;
        }
    }
}

.posts {
    display: flex;
    text-decoration: none;
    align-items: center;
    padding: 10px;
    border-radius: 5px;

    img {
        max-width: 50px;
    }

    .posts-meta {
        margin-left: 15px;

        .posts-date {
            font-size: 14px;
            color: rgba(#000000, 0.6);
        }
    }

    h2, p {
        color: black;
    }

    &:hover {
        background-color: rgba(#000000, 0.025)
    }
}

// Post page

article {
    .post-meta {
        margin-bottom: 20px;

        h1 {
            font-weight: bold;
        }

        p {
            color: rgba(#000000, 0.6);
        }
    }
}

footer {
    color: rgba(#000000, 0.9);
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}