@import 'reset';
@import 'blog-small';

%link-color-inherit {
    color: inherit;

    &:visited {
        color: inherit;
    }

    &:active {
        color: inherit;
    }
}

html, body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: rgba(#000000, 0.9);
}

.bold-header {
    font-weight: bold;
}


.container {
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    min-height: 100vh;
}

nav#nav-bar {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 60px;

    img {
        max-width: 50px;
    }

    .logo {
        flex-grow: 2;
    }

    a:not(:first-child) {
        margin-left: 30px;
        text-decoration: none;
        @extend %link-color-inherit
    }
}

#search-bar {
    display: flex;
    border-radius: 5px;

    input {
        border: 1px solid rgba(#000000, 0.35);
        border-radius: 5px;
        font-size: 16px;
        padding: 5px;
    }
}

main {
    padding-bottom: 100px;
    header {
        display: flex;
        padding-bottom: 20px;
        margin-bottom: 20px;
        align-items: center;
        // border-bottom: 1px solid rgba(#000000, 0.1);

        img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 50%;
            margin-right: 30px;
        }

        .blurb {
            h1 {
                margin-bottom: 10px;
            }
        }
    }
}


.posts {
    h2 {
        margin-bottom: 20px;
    }
    a {
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        border-bottom: 1px solid rgba(#000000, 0.1);
        
        img {
            max-width: 50px;
        }

        .posts-meta {
            margin-left: 15px;
            
            .posts-title {
                font-size: 22px;
                color: rgba(#000000, 0.9);
            }

            .posts-date {
                font-size: 14px;
                color: rgba(#000000, 0.6);
            }
        }

        &:hover {
            background-color: rgba(#000000, 0.025)
        }
    }
        
}

nav.paginator {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        // max-height: 2.5em;
        background-color: rgba(#000000, 0.1);
        border-radius: 5px;
        text-decoration: none;
        padding: 10px;
        margin: 0 5px;

        @extend %link-color-inherit
    }
}

footer {
    // color: rgba(#000000, 0.9);
    padding: 10px 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

// Post page

article {
    .post-meta {
        margin-bottom: 20px;

        p {
            color: rgba(#000000, 0.6);
        }
    }
}

// Showcase page
#showcase { 
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    .showcase-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;

        img {
            border-radius: 5px;
        }

        a, h2 {
            display: inline;
        }

    }
}