{% extends "index.html" %}

{% block title %}{{ taxonomy.name }} - {{ config.title }}{% endblock title %}

{% block content %}
<h1 class="bold-header">Tag: {{ term.name }}</h1>
<div class="posts">
    {% for page in term.pages %}
        <a href="{{ page.permalink }}">
            <img src="{{ config.base_url }}/{{ page.extra.cover }}" alt="Post cover image">
            <div class="posts-meta">
                <p class="posts-title">{{ page.title }}</p>
                <p class="posts-date">Published on {{ page.date }}</p>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}