article {
    margin-bottom: 100px;
    .post-meta {
        margin-bottom: 80px;
        display: flex;
        align-items: center;

        img {
            max-width: 100px;
            margin-right: 30px;
        }

        h1 {
            margin-bottom: 10px;
        }

        p, .post-tags {
            display: inline-block;
        }

        p {
            color: $light-accent-color;

            .dark-theme & {
                color: $dark-accent-color;
            }
        }
    }

    a {
        .dark-theme & {
            color: darkturquoise;
        }
    }

    pre {
        padding: 10px;
        overflow: scroll;
        border-radius: 5px;
    }

    blockquote {
        font-style: italic;
    }

    ul, ol {
        list-style-position: inside;
    }

    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;

        .dark-theme & {
            border: 1px solid $dark-light-color;
        }
    }
}