<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="{{ config.base_url }}/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="">
                    <img src="temp-logo.png" alt="">
                </a>
            </div>
            <a class="menu" href="">Blog</a>
            <a class="menu" href="">Works</a>
            <a class="menu" href="">About</a>
        </nav>
        <main>
            <header>
                <h1>Blog</h1>
            </header>
            <a class="blog-post" href="">
                <img src="temp-poster.png" alt="">
                <div class="blog-meta">
                    <h2 class="blog-title">How to</h2>
                    <p class="blog-date">11-12-19</p>
                </div>
            </a>
        </main>
</body>
</html>