<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav id="nav-bar">
            <div class="logo">
                <a href="/">
                    <img src="{{ get_url(path="logo.png") }}" alt="">
                </a>
            </div>
            <div id="search-bar">
                <input type="text" placeholder="🔎 Search">
            </div>
            <a href="{{ config.base_url }}/showcase">Showcase</a>
            <a href="{{ config.base_url }}/about">About</a>
        </nav>
        <main>
            {% block content %}
            <header>
                <img src="{{ get_url(path="me.jpg") }}" alt="My picture">
                <div class="blurb">
                    <h1 class="header">Hi, I'm John Doe</h1>
                    <p>A [REDACTED] from [REDACTED]. Welcome to my thought dumpster.</p>
                </div>
                <!-- <h1>My Blog</h1> -->
            </header>
            <div class="posts">
                <h2 class="header">Latest articles</h2>
                {% for page in paginator.pages %}
                    <a href="{{ page.permalink }}">
                        <img src="{{ config.base_url }}/{{ page.extra.cover }}" alt="Post cover image">
                        <div class="posts-meta">
                            <p class="posts-title">{{ page.title }}</p>
                            <p class="posts-date">Published on {{ page.date }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <nav class="paginator">
                {% if paginator.current_index != 1 %}
                    <a href="{{ paginator.base_url }}/1" class="first"><<</a>
                {% endif %}
                {% if paginator.previous %}
                    <a class="previous" href="{{ paginator.previous }}">< Previous</a>
                {% endif %}
                {% if paginator.number_pagers > 1 %}
                    {% for i in range(start=1, end=paginator.number_pagers) %}
                        <a href="{{ paginator.base_url }}/{{ i }}" class="pager-number">{{ i }}</a>
                    {% endfor %}
                {% endif %}
                {% if paginator.next %}
                    <a class="next" href="{{ paginator.next }}">Next ></a>
                {% endif %}
                {% if paginator.current_index != paginator.number_pagers %}
                    <a href="{{ paginator.base_url }}/{{ paginator.number_pagers }}" class="last">>></a>
                {% endif %}
            </nav>
            {% endblock content %}
        </main>
        <footer>
            <p>😠 私は日本人を決して許しません 😠</p>
        </footer>
    </div> 
</body>
</html>