<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path="main.css", trailing_slash=false) }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="container">
        <nav id="nav-bar">
            <div class="logo">
                <a href="/">
                    <img src="{{ get_url(path="logo.png") }}" alt="">
                </a>
            </div>
            <!-- {% if config.build_search_index %}
                <div id="search-bar">
                    <input type="text" placeholder="🔎 Search">
                </div>
            {% endif %} -->
            {% for menu in config.extra.menus %}
                <a href="{{ config.base_url }}/{{ menu }}">{{ menu | capitalize }}</a>
            {% endfor %}
        </nav>
        <main>
            {% block content %}
            <header>
                <img src="{{ get_url(path="me.jpg") }}" alt="My picture">
                <div class="blurb">
                    <h1 class="bold-header">Hi, I'm John Doe</h1>
                    <p>A [REDACTED] from [REDACTED]. Welcome to my thought dumpster.</p>
                </div>
                <!-- <h1>My Blog</h1> -->
            </header>
            <div class="posts">
                <h2 class="bold-header">Latest articles</h2>
                {% for page in paginator.pages %}
                    <a href="{{ page.permalink }}">
                        <img src="{{ config.base_url }}/{{ page.extra.cover }}" alt="Post cover image">
                        <div class="posts-meta">
                            <p class="posts-title">{{ page.title }}</p>
                            <p class="posts-date">Published on {{ page.date }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
            {% if paginator.number_pagers > 1 %}
            <nav class="paginator">
                <!-- {% if paginator.current_index != 1 %}
                    <a href="{{ paginator.base_url }}/1" class="first"><<</a>
                {% endif %} -->
                {% if paginator.previous %}
                    <a class="previous" href="{{ paginator.previous }}">Newer</a>
                {% endif %}

                {% if  paginator.current_index - 2 < 1 %}
                    {% set starting = 2 %}
                {% else %}
                    {% set starting = paginator.current_index - 2 %}
                {% endif %}
                
                <!-- {% set ending = paginator.current_index + 3 %} -->
                <a href="{{ paginator.base_url }}/1" class="pager-number">1</a>
                {% for i in range(start=starting, end=paginator.current_index + 3) %}
                    {% if i > 1 and i < paginator.number_pagers %}
                        {% if i != paginator.current_index - 2 and i != paginator.current_index + 2 and i > 1 and i < paginator.number_pagers %}
                        <a href="{{ paginator.base_url }}/{{ i }}" class="pager-number">{{ i }}</a>
                        {% elif i == paginator.current_index - 2 and i > 1 %}
                        <span>...</span>
                        {% elif i == paginator.current_index + 2 and i < paginator.number_pagers %}
                        <span>...</span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <a href="{{ paginator.base_url }}/{{ paginator.number_pagers }}" class="pager-number">{{ paginator.number_pagers }}</a>
                {% if paginator.next %}
                    <a class="next" href="{{ paginator.next }}">Older</a>
                {% endif %}
                <!-- {% if paginator.current_index != paginator.number_pagers %}
                    <a href="{{ paginator.base_url }}/{{ paginator.number_pagers }}" class="last">>></a>
                {% endif %} -->
            </nav>
            {% endif %}
            {% endblock content %}
        </main>
        <footer>
            <p>😠 私は日本人を決して許しません 😠</p>
        </footer>
    </div>
    {% block footer %}
    {% endblock footer %}
</body>
</html>