{% extends "index.html" %}

{% block title %}{{ page.title }} - {{ config.title}}{% endblock title %}

{% block content %}
<article>
    <div class="post-meta">
        <img src="{{ get_url(path=page.extra.cover) }}" alt="Article cover image">
        <div class="post-meta-text">
            <h1 class="bold-header">{{ page.title }}</h1>
            <p>{{ page.date }}</p>
            {% if page.taxonomies.tags %}
                <div class="post-tags">
                    <span>|</span>
                    {% for tag in page.taxonomies.tags %}
                        <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {{ page.content | safe }}
</article>
<hr>
<div id="disqus_thread"></div>
<script type="text/javascript">

var disqus_config = function () {
this.page.url = "{{ page.permalink | safe }}";
this.page.identifier = "{{ page.title }}";
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://demo-h3k1wmzrae.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
                            
{% endblock content %}