{% extends "index.html" %}

{% block title %}{{ page.title }} - {{ config.title}}{% endblock title %}

{% block content %}
<article>
    <div class="post-meta">
        <h1 class="header">{{ page.title }}</h1>
        <p>{{ page.date }} | </p>
        {% if page.taxonomies.tags %}
            <div class="post-tags">
                {% for tag in page.taxonomies.tags %}
                    <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {{ page.content | safe }}
</article>
{% endblock content %}